{% extends "base.html" %}

{% block title %}Medical Imaging{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{% endblock %}

{% block main %}
    <section class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="/js/main.js"></script>
{% endblock %}